body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(173, 219, 245)
}

img{
    width: 250px
}

.box1{
    background-color: rgb(116, 157, 245);
    color: rgb(232, 235, 236);
    padding: 23px;
    width: 60%;
    margin: 30px auto;
    border-radius: 20px;
}

.box2{
    background-color: rgb(250, 250, 250);
    color: rgb(53, 129, 243);
    padding: 20px;
    width: 60%;
    margin: auto;
    border-radius: 20px;

}